### Git Ignore ###

# Ignore python checkpoints
.ipynb_checkpoints

# Ignore images
imgs/**

# Ignore raw IMU data
imu_data/**

# Ignore file backups
*~

# Ignore processed data
processed_data/**

# Ignore dictionaries
dicts/**
