### Git Ignore ###

# Ignore python checkpoints
.ipynb_checkpoints

# Ignore images
imgs/**

# Ignore raw IMU data
imu_data/**

# Ignore file backups
*~

# Ignore processed data
processed_data/**

# Ignore non-useful models
models/**

# Ignore dictionary archive
dicts/archive/**

# Ignore scalers
scalers/**

# Ignore tables archive
tables/archive/**

# Ignore terrain images
terrain_imgs/**
