### Git Ignore ###

# Ignore python checkpoints
.ipynb_checkpoints

# Ignore images
imgs/**

# Ignore raw IMU data
imu_data/**

# Ignore file backups
*~

# Ignore notebook backups
ipynb_archive/**

# Ignore processed data
processed_data/**

# Ignore non-useful models
models/**
